body {
    background-image: url('file:///C:/Users/offic/OneDrive/Documents/DATA%20SMQR%20ESPORTS'); /* Sesuaikan dengan path yang sesuai dengan gambar Anda */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}